<h1>Listing scenes</h1>

<table>
  <thead>
    <tr>
      <th>Short desc</th>
      <th>Desc</th>
      <th>Image</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scenes.each do |scene| %>
      <tr>
        <td><%= scene.short_desc %></td>
        <td><%= scene.desc %></td>
        <td><%= scene.image %></td>
        <td><%= scene.location_id %></td>
        <td><%= link_to 'Show', scene %></td>
        <td><%= link_to 'Edit', edit_scene_path(scene) %></td>
        <td><%= link_to 'Destroy', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scene', new_scene_path %>
