<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @character.short_desc %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @character.desc %>
</p>

<p>
  
  <%= image_tag @character.image + ".png" %>
</p>



<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
